/* navbar styling */
.navbar {
    padding: 0; 
    margin: 0; 
    text-align: center;
}

/* logo styling */
.logo {
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
}

/* navlinks styling */
.nav-links {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}

.nav-links li {
    display: inline-block;
    margin-right: 20px;
}

.nav-links li a {
    color: #000000;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Nanum Gothic Coding';
}

.nav-links li a:hover {
    color: #94271f;
}

/* hero styling */
.hero-container {
    text-align: center;
    padding: 75px 0;
    color: #94271f;
}

.hero-container h1 {
    font-size: 6rem;
    margin-bottom: 20px;
    font-family: 'Archivo Black';
}

.hero-container h3 {
    font-size: 1.2rem;
    color: #000000;
    font-family: 'Nanum Gothic Coding';
}

/* main styling */
.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    background-color: white;
    grid-column-gap: 30px ;
}

.main-container h2 {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    font-weight: 100;
    font-family: 'Archivo Black';
}

.main-text1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px;
    text-align: center;
}

.main-text2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px;
    text-align: center;
}

.main-text3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px;
    text-align: center;
}

p {
    font-family:'Nanum Gothic Coding';
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.3;
    margin-bottom: 3rem;
    text-align: center;
}

button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 400;
    border-radius: 3px;
    padding: 12px 24px;
    color: #ffffff;
    background: #000000;
    font-size: 0.8rem;
    font-family: 'Nanum Gothic Coding';
    border: none; 
    box-shadow: none;
}

button:hover {
    transition: all 0.4s ease;
    color: #ffffff;
    background-color: #94271f;
}

.main-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column-start: 2;
    grid-column-end: 3;
}

/* video styling */
.container {
    max-width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio (9 / 16 = 0.5625) */
    overflow: hidden;
}

h2 {
    font-family: 'Archivo Black';
    font-size: 30px;
    color: #000000;
    margin-bottom: 50px;
    text-align: center;
    padding-top: 50px;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border: none;

}

/* accordion styling */
.accordion {
    background-color: white;
    color: #000000;
    cursor: pointer;
    font-size: 1rem;
    padding: 35px;
    width: 100%;
    text-align: center;
    border: none;
    outline: none;
    transition: background-color 0.3s;
}
  
.accordion::after {
    content: '\02795'; 
    font-size: 1rem;
    float: right;
    margin-left: 5px;
}
  
  .active::after {
    content: "\2796"; 
}
  
.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}
  
.active + .panel {
    display: block;
}

/* footer styling */
.footer {
    color: #000000;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.contact-info,
.hours,
.social-links,
.copyright {
    flex: 1 1 100%;
    margin: 10px;
    text-align: center;
}
  
.contact-info h3,
.hours h3 {
    color: #000000;
    font-size: 1rem;
    font-family: 'Archivo Black';
}
  
.social-links {
    margin-top: 20px;
    font-size: 0.6em;
}
   
.copyright {
    margin-top: 20px;
}
  
.fa-facebook,
.fa-twitter,
.fa-instagram {
    font-size: 30px;
    color: #000000;
}
  
.team-member h3 {
    font-size: 1.2rem;
    color: #000000;
    font-family: 'Nanum Gothic Coding';
    text-align: center;
}

img {
    max-width: 50%;
    height: auto;
    display: block;
    margin: 0 auto; 
}


/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
.nav-links {
    flex-wrap: wrap;
}

.nav-links li {
    flex: 0 0 100%;
    margin-bottom: 10px;
}

.nav-links li:last-child {
     margin-bottom: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}
}
