.navbar {
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
    text-align: center;
}


/* Logo styling */
.logo {
    height: 50px;
    width: 50px;
    margin-right: 20px;
}

/* Navigation links styling */
.nav-links {
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}

.nav-links li {
    display: inline-block;
    margin-right: 20px;
}

.nav-links li a {
    color: #000000;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Nanum Gothic Coding';
}

/* Hover effect for navigation links */
.nav-links li a:hover {
    color: #94271f;
}
.hero-container {
    text-align: center;
    padding: 75px 0;
    color: #94271f;
}

.hero-container h1 {
    font-size: 6rem;
    margin-bottom: 20px;
    font-family: 'Archivo Black';
}

.hero-container h3 {
    font-size: 1.2rem;
    color: #000000;
    font-family: 'Nanum Gothic Coding';
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    background-color: white;
}

.main-container h2 {
    grid-column-start: 1;
    grid-column-end: 4;
    text-align: center;
    font-weight: 100;
    font-family: 'Archivo Black';
}

.main-text1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px;
    text-align: center;
}

.main-text2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px;
    text-align: center;
}

.main-text3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px;
    text-align: center;
}

p {
    font-family:'Nanum Gothic Coding';
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.3;
    margin-bottom: 3rem;
}

button {
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 400;
    border-radius: 3px;
    padding: 12px 24px;
    color: #ffffff;
    background: #000000;
    font-size: 0.8rem;
    font-family: 'Nanum Gothic Coding';
    border: none; 
    box-shadow: none;
}

button:hover {
    transition: all 0.4s ease;
    color: #ffffff;
    background-color: #946226;
}

.main-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    grid-column-start: 2;
    grid-column-end: 3;
}

/* Media query for smaller screens */
@media only screen and (max-width: 768px) {
    .nav-links {
        flex-wrap: wrap;
    }

    .nav-links li {
        flex: 0 0 100%;
        margin-bottom: 10px;
    }

    .nav-links li:last-child {
        margin-bottom: 0;
    }
}
@media only screen and (max-width: 768px) {
    .main-container {
        display: flex;
        flex-direction: column;
    }

    .main-header {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    h2 {
        margin-top: 0;
    }
}